@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
:root {
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));
  --bg-image-mobile: url('/images/bg-mobile-light.jpg') no-repeat;
  --bg-image-desktop: url('/images/bg-desktop-light.jpg') no-repeat;
  --clr-white: hsl(0, 0%, 100%);
  --clr-bg: hsl(0, 0%, 98%);
  --clr-list-bg: hsl(0,0%,100%);
  --clr-text: hsl(235, 19%, 35%);
  --clr-text-secondary: hsl(236, 33%, 92%);
  --clr-text-completed: hsl(233, 11%, 84%);
  --clr-placeholder: hsl(236, 9%, 61%);
}

.dark-theme {
  --bg-image-mobile: url('/images/bg-mobile-dark.jpg') no-repeat;
  --bg-image-desktop: url('/images/bg-desktop-dark.jpg') no-repeat;
  --clr-bg: hsl(235, 21%, 11%);
  --clr-list-bg: hsl(235, 24%, 19%);
  --clr-text: hsl(234, 39%, 85%);
  --clr-text-hover: hsl(236, 33%, 92%);
  --clr-text-secondary: hsl(237, 14%, 26%);
  --clr-text-completed: hsl(233, 14%, 35%);
  --clr-placeholder: hsl(234, 11%, 52%);
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  letter-spacing: 1.5;
  color: var(--clr-text);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  display: inline-block;
}

.todo-section {
  background: var(--clr-bg);
  min-height: 100vh;
  padding: 3rem 1.5rem;
  z-index: 1;
  position: relative;
}

.todo-section .container {
  max-width: 33.75rem;
  margin-left: auto;
  margin-right: auto;
}

.todo-section::before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 13rem;
  background: var(--bg-image-mobile);
  background-size: cover;
  position: absolute;
  z-index: -1;
}

@media screen and (min-width: 33rem) {
  body {
    font-size: 1.125rem;
  }
  .todo-section {
    padding: 4.8rem 2rem;
  }
  .todo-section::before {
    background: var(--bg-image-desktop);
    background-position: top center;
    height: 18rem;
  }
}

.todo-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.3rem;
}

.todo-header .title {
  color: var(--clr-white);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: .7rem;
}

.todo-header .theme-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
}

.todo-header .theme-toggle img {
  height: 1.2rem;
}

@media screen and (min-width: 33rem) {
  .todo-header {
    margin-bottom: 3rem;
  }
  .todo-header .title {
    font-size: 2rem;
  }
  .todo-header .theme-toggle img {
    height: 1.8rem;
  }
}

.checkbox {
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid var(--clr-text-secondary);
  border-radius: 50%;
  background: var(--clr-list-bg);
  margin-right: 0.8rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
}

.checkbox:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--clr-list-bg)), to(var(--clr-list-bg))) padding-box, -webkit-gradient(linear, left top, right bottom, from(#57ddff), to(#c058f3)) border-box;
  background: linear-gradient(var(--clr-list-bg), var(--clr-list-bg)) padding-box, linear-gradient(to bottom right, #57ddff, #c058f3) border-box;
  border: 1px solid transparent;
}

.toggleCheck, .toggleCheck:hover {
  background: url("../images/icon-check.svg") center no-repeat, -webkit-gradient(linear, left top, right bottom, from(#57ddff), to(#c058f3)) border-box;
  background: url("../images/icon-check.svg") center no-repeat, linear-gradient(to bottom right, #57ddff, #c058f3) border-box;
  border: 1px solid transparent;
}

.todo-form {
  background: var(--clr-list-bg);
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 10px 35px -20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 35px -20px rgba(0, 0, 0, 0.3);
}

.todo-input {
  font-family: 'Josefin Sans', sans-serif;
  font-size: .75rem;
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  color: var(--clr-text);
}

.todo-input::-webkit-input-placeholder {
  color: var(--clr-placeholder);
}

.todo-input:-ms-input-placeholder {
  color: var(--clr-placeholder);
}

.todo-input::-ms-input-placeholder {
  color: var(--clr-placeholder);
}

.todo-input::placeholder {
  color: var(--clr-placeholder);
}

@media screen and (min-width: 33rem) {
  .checkbox {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 2rem;
    border-width: 2px;
  }
  .checkbox:hover {
    border-width: 2px;
  }
  .toggleCheck, .toggleCheck:hover {
    background-size: .75rem .7rem, 100% 100%;
  }
  .todo-form {
    margin-bottom: 1.5rem;
    padding: 1.25rem 1.5rem;
  }
  .todo-input {
    font-size: 1.125rem;
  }
}

.todo-container {
  background: var(--clr-list-bg);
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 40px -20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 40px -20px rgba(0, 0, 0, 0.3);
}

.todo-item {
  padding: 1rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--clr-text-secondary);
  cursor: -webkit-grab;
  cursor: grab;
}

.todo-item .item-complete {
  text-decoration: line-through;
  color: var(--clr-text-completed);
}

.todo-item .todo-text {
  font-size: .75rem;
  word-break: break-all;
  margin-right: 0.8rem;
  cursor: pointer;
}

.todo-item .remove-btn {
  cursor: pointer;
  margin-left: auto;
  border: none;
  background: transparent;
  width: .8rem;
  height: .8rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media screen and (min-width: 33rem) {
  .todo-item {
    padding: 1.25rem 1.5rem;
  }
  .todo-item .todo-text {
    font-size: 1.125rem;
    margin-right: 1rem;
  }
  .todo-item .remove-btn {
    width: 1.125rem;
    height: 1.125rem;
  }
}

.todo-list-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.25rem;
  position: relative;
}

.items-left,
.clear-completed {
  font-size: .8125rem;
  color: var(--clr-placeholder);
}

.clear-completed {
  cursor: pointer;
  -webkit-transition: color .25s;
  transition: color .25s;
}

.clear-completed:hover {
  color: var(--clr-text);
}

.filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.125rem;
  -webkit-box-shadow: 0 10px 40px -20px rgba(0, 0, 0, 0.6);
          box-shadow: 0 10px 40px -20px rgba(0, 0, 0, 0.6);
}

.filter-container span {
  cursor: pointer;
  font-size: .9rem;
  font-weight: 700;
  color: var(--clr-placeholder);
  -webkit-transition: color .25s;
  transition: color .25s;
  display: block;
}

.filter-container span:hover {
  color: var(--clr-text);
}

@media screen and (max-width: 33rem) {
  .todo-list-info {
    padding: 1.25rem 1.25rem;
  }
  .items-left,
  .clear-completed {
    font-size: .6875rem;
  }
  .filter-container span {
    font-size: .8rem;
  }
  .filter-container {
    gap: 1rem;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 1rem;
    width: 100%;
    background: var(--clr-list-bg);
    border-radius: 5px;
    padding: 1rem 1.25rem;
  }
}
