// google fonts
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
// Primary
--bright-blue: hsl(220, 98%, 61%);
--check-background: linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%));

// Light Theme
--bg-image-mobile: url('/images/bg-mobile-light.jpg') no-repeat;
--bg-image-desktop: url('/images/bg-desktop-light.jpg') no-repeat;
--clr-white: hsl(0, 0%, 100%);
--clr-bg: hsl(0, 0%, 98%);
--clr-list-bg: hsl(0,0%,100%);
--clr-text: hsl(235, 19%, 35%);
--clr-text-secondary: hsl(236, 33%, 92%);
--clr-text-completed: hsl(233, 11%, 84%);
--clr-placeholder: hsl(236, 9%, 61%);
}

// Dark Theme
.dark-theme {
  --bg-image-mobile: url('/images/bg-mobile-dark.jpg') no-repeat;
  --bg-image-desktop: url('/images/bg-desktop-dark.jpg') no-repeat;
  --clr-bg: hsl(235, 21%, 11%);
  --clr-list-bg: hsl(235, 24%, 19%);
  --clr-text: hsl(234, 39%, 85%);
  --clr-text-hover: hsl(236, 33%, 92%); //(hover)
  --clr-text-secondary: hsl(237, 14%, 26%);
  --clr-text-completed: hsl(233, 14%, 35%);
  --clr-placeholder: hsl(234, 11%, 52%);
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  letter-spacing: 1.5;
  color: var(--clr-text);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  display: inline-block;
}

.todo-section {
  background: var(--clr-bg) ;
  min-height: 100vh;
  padding: 3rem 1.5rem;
  z-index: 1;
  position: relative;

    .container {
      max-width: 33rem;
      margin-left: auto;
      margin-right: auto;
    }
}

.todo-section::before {
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 13rem;
  background: var(--bg-image-mobile);
  background-size: cover;
  position: absolute;
  z-index: -1;
}

@media screen and (min-width: 33rem) {
  .todo-section::before {
    background: var(--bg-image-desktop);
    background-position: top center;
    height: 50rem;
  }
}

// todo heading 
.todo-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.3rem;

    .title {
      color: var(--clr-white);
      font-size: 1.5rem;
      text-transform: uppercase;
      letter-spacing: .7rem;
    }

    .theme-toggle {
      background: transparent;
      border: none;
      cursor: pointer;
        
        img {
          height: 1.2rem;
        }
    }
}

// checkbox styles
.checkbox {
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  border: 1px solid var(--clr-text-secondary);
  border-radius: 50%;
  background: var(--clr-list-bg);
  margin-right: 0.8rem;
  flex-shrink: 0;
  position: relative;
  
    &:hover {
      background: linear-gradient(var(--clr-list-bg), var(--clr-list-bg)) padding-box, linear-gradient(to bottom right, #57ddff, #c058f3) border-box;
      border: 1px solid transparent;
    }
}

// toggle check button
.toggleCheck, .toggleCheck:hover {
  background: url("../images/icon-check.svg") center no-repeat, linear-gradient(to bottom right, #57ddff, #c058f3) border-box;
  border: 1px solid transparent;
  // background-size: 1rem 1rem, 100% 100%;
}

// add todo input styles
.todo-form {
  background: var(--clr-list-bg);
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 1rem 1.25rem;
  display: flex;
  align-items: center;

    .todo-input {
      font-family: 'Josefin Sans', sans-serif;
      font-size: .75rem;
      width: 100%;
      border: none;
      background: transparent;
      outline: none;
      color: var(--clr-text);
    
        &::placeholder {
          color: var(--clr-placeholder);
        }
    }
}

// todo lists container
.todo-container {
  background: var(--clr-list-bg);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 10px 50px -15px rgba(0,0,0,0.4);
}

// todo list items 
.todo-item {
  padding: 1rem 1.25rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--clr-text-secondary);
  cursor: grab;
    
    .item-complete {
      text-decoration: line-through;
      color: var(--clr-text-completed);
    }

    .todo-text {
      font-size: .75rem;
      word-break: break-all;
      margin-right: 0.8rem;
      cursor: pointer;
    }

    .remove-btn {
      cursor: pointer;
      margin-left: auto;
      border: none;
      background: transparent;
      width: .8rem;
      height: .8rem;
      flex-shrink: 0;
    }
}







































// .attribution { font-size: 11px; text-align: center; }
// .attribution a { color: hsl(228, 45%, 44%); }

